@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --animate-rise: rise 0.8s ease-in-out forwards;
}

@keyframes rise{
    0%{
        opacity:0.5;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}