body{
    background: linear-gradient(90deg, white, rgb(191, 191, 191), rgb(114, 113, 113));
    background-size: 400% 400%;
    animation: bgMove 10s ease-in-out infinite;
}

@keyframes bgMove {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}